
.card{
    width: 100% !important;
    border-radius: 13px !important ;
    background-color: pink;
}
.cardone{
    width: 100%;
    background-color: skyblue;
    border-radius: 5px;
    font-size: 18px;
}
.cardtwo{
    background-color: deepskyblue;
}