<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item">
            <i class="fa fa-dashcube" aria-hidden="true"></i> <span>
            <a routerLink="/dashboard">Dashboard</a>
            </span>
            </li>
            <li class="nav-list-item">
                <i class="fa fa-clone" aria-hidden="true"></i>
                <span>
                <a routerLink="/classes">Classes</a>
                </span>
                </li>
                <li class="nav-list-item">
                    <i class=" fa fa-solid fa-calendar"></i>
                    <span>
                    <a routerLink="/resources">Resources</a>
                    </span>
                    </li>
                    <li class="nav-list-item">
                        <i class="fa fa-solid fa-bars"></i>
                        <span>
                        <a routerLink="/learningplan">Learning plan</a>
                        </span>
                        </li>
                        <li class="nav-list-item">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <span>
                            <a routerLink="/chat">Chat
                            </a>
                            </span>
                            </li>
                        <li class="nav-list-item">
                            <i class=" fa fa-solid fa-calendar"></i>
                            <span>
                            <a routerLink="/Setting">Settings</a>
                            </span>
                         </li>
        
    </ul>
    

</div>
